.textColorYellow {
  color: yellow;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bracket {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.fWrap {
  display: flex;
  flex-wrap: wrap;
}