.textColorYellow {
  color: yellow;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #1a1a1a;
  color: green;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  border: 1px solid white;
}

.gridRow {
  display: grid;
  gap: 0px;
  border: 1px solid white;
  border-bottom: 1px solid white;
  align-content: space-around;
}

.title {
  font-weight: bold;
  padding: 8px;
  background-color: lightgray;
  text-align: center;
  border: 1px solid white;
}

.diff__race {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  grid-column: 1;
  padding: 8px;
  border-bottom: 1px solid white;
}

.bracket {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.fWrap {
  display: flex;
  flex-wrap: wrap;
}
