.bracket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

.names {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.blueFelt {
  background-image: url('../../../public/blue-felt.jpeg');
  background-size: 200px;
  background-position: center;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 1em;
}

.w300 {
  display: flex;
  width:300px;
}

.column {
  flex-direction: column;
  align-items: baseline;
}

.greenFelt {
  background-image: url('../../../public/felt.jpg');
  background-size: 200px;
  background-position: center;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 1em;
}